/* Estilos para el componente */
.title{
    
background-color: gray;
 margin-bottom: 10px;
}
.rounded-image {
    height: 300px;
    border: 2px solid white;
    border-radius: 50%;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card {
    background-color: white;
    border: 1px solid #ddd;
    padding: 5px;
    
}

.gray-card {
    background-color: #bbb9b9;
    color:black;
    box-shadow: 3px 3px 5px  #bbb9b9;
    transition: background-color 0.3s, color 0.3s;
}

.gray-card:hover {
    background-color: red;
    color: black;
    cursor: pointer;
}