<!DOCTYPE html>
<html>
<head>
    <title>Humans</title>
    <link rel="stylesheet" type="text/css" href="app.component.css">
</head>
<body>
    <div class="title">
    <img src="https://m.media-amazon.com/images/S/pv-target-images/6c63f326ff214b8654f508b60b33beced0de194c91cdabc801dc998c217a05b3.jpg" alt="Imagen de la serie o película" class="rounded-image">
    
    <header>
        <h1>"Humans"</h1>
    </header>
    </div>
    <div class="card">
        <h2>Historia</h2>
        <p> Es una serie de ciencia ficción que se centra en un mundo donde los robots humanoides, llamados Synths, son utilizados en la vida cotidiana. A medida que los Synths desarrollan conciencia, la serie explora las complejidades éticas y sociales de la interacción entre humanos y máquinas. La trama sigue diversas líneas narrativas, abordando temas como la inteligencia artificial, la identidad y las relaciones humanas, mientras plantea preguntas sobre la naturaleza de la vida artificial y las implicaciones éticas de su existencia. La serie consta de tres temporadas y ofrece una historia intrigante y reflexiva sobre el impacto de la tecnología en la sociedad.
        </p>
    </div>
    <div class="card">
        <h2>Motivos por el cual te gusta</h2>
        <ul>
            <li>Exploracion de temas actuales.</li>
            <li>Habla de temas cientificos.</li>
            <li>Produccion de calidad.</li>
        </ul>
        <h3>Personajes</h3>
        <ul>
            <li>Joe Hawkins (interpretado por Tom Goodman-Hill)</li>
            <li>Laura Hawkins (interpretada por Katherine Parkinson)</li>
            <li>Mia (interpretada por Gemma Chan)</li>
            <li>Leo Elster (interpretado por Colin Morgan)</li>
        </ul>
    </div>

    <div class="card">
        <h2>Otras peliculas o series similares</h2>
        <div class="gray-card">
            <h3>Machina</h3>
            <P>Una película que explora la inteligencia artificial y
                 la conciencia a través de la interacción entre un joven programador, un robot humanoide y su creador.</P>
            
        </div>
        <div class="gray-card">
            <h3>Westworld</h3> 
            <p>serie que se desarrolla en un parque temático poblado por androides conscientes. Examina temas de libre albedrío, ética y consecuencias de la inteligencia artificial.</p>
           </div>
    </div>
</body>
</html>